.govtSection_1 {
    text-align: center;
    margin: 80px 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
  }
  
  .govtSection_1 h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .govtSection_1 h3 {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
  }
  
  .govt_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  /* Additional styles for responsiveness */
  @media (max-width: 375px) {
    .govtSection_1 h1 {
      font-size: 1.5rem;
    }
  
    .govtSection_1 h3 {
      font-size: 1rem;
    }
  }
  