body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .job_details {
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
  }
  
  .job_page {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .job_title {
    color: #0073e6;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .post_name{
      color: #207705;
      font-size: 20px;
      margin: 5px 0;
      text-align: center;
  }

  .organization {
    color: #ff0000;
    font-size: 30px;
    margin: 5px 0;
    text-align: center;
  }

  .section_header {
    font-size: 30px;
    margin: 20px 0;
    border-radius: 5px;
  }

  .job-details-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .job-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .details-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .details-table td {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #555;
    font-style:italic;
  }

  .details-table td:first-child {
    font-weight: bold;
    background-color: #f1f1f1;
    text-align: center;
  }

  .details-table td:last-child {
    text-align: center;
    font-weight: bold;
  }

  .table-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .table-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .whatsapp-share-button {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .whatsapp-share-button:hover {
    background-color: #22b358;
  }
  

  @media screen and (max-width: 768px) {
    .job-details-container {
      padding: 10px;
    }

    .details-table td {
      font-size: 14px;
    }

    .job-title {
      font-size: 20px;
    }
  }
